.container-fluid {
	max-height: 50px;
	background: rgb(200, 54, 54); /* This is for ie8 and below */
	background: rgba(200, 54, 54, 0.1); 
	}

.justify-content-start {
	position: fixed;
	left: 50px; 
}

.nav-item {
	z-index: 9999;
	}

a.nav-link:link {
	color: #0066cc;
	text-decoration:none; 
	font-weight:normal;
}

a.nav-link:hover {
	color: #66b5ff;
	text-decoration:none; 
	font-weight:normal;
}
