body, html {
    height: 100%;
    margin: 0;
	}

body {
	text-align: center;
	background-image: url(../images/background-blurred.jpg);
	background-size: cover;
    text-shadow: 0px 0px 0.1px;
	}

.site-wrapper {
	width: 100%;
	max-height: 100%;
	}

.shadow {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 0px 60px #1a1a1a;
	}

.mastfoot {
    position: fixed;
    bottom: 1em;
    left: 1em;
}